<style>
    .search-btn {
        background-color: navy;
        color: rgb(255, 255, 255);
        border-radius: 50px;
        padding: 0 1.5rem;
        margin-left: 0.5rem;
    }

    .search-btn:hover {
        background-color: navy;
        color: rgb(255, 255, 255);
    }

    .search-inp {
        height: 2.2rem;
        border-radius: 50px;
        border: 1px solid grey;
        padding: 0 5rem;
    }

    .logo {
        font-size: 2rem;
        margin: -0.1rem 0.3rem 0 0;
        color: navy;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(19, 40, 196);
    }
</style>
<nav class="navbar navbar-expand-md bg-body-light pb-3 border-bottom border-2 sticky-top">
    <div class="container-fluid">
        <div class="main-logo"><a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass logo"></i><b
                    class="main-logo-text">SkyWard</b></a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>

            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search" method="get" action="/search/q">
                    <input class="form-control me-2 search-inp" name="q" type="search"
                        placeholder="Search Destinations" />
                    <button class="btn search-btn" type="submit">Search</button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link add-link" href="/listings/new">Add Your Home</a>
                <% if(!currUser){ %>
                    <a class="nav-link " aria-current="page" href="/signup"><b>SignUp</b></a>
                    <a class="nav-link" href="/login"><b>Login</b></a>
                    <% }else{ %>
                        <a class="nav-link" href="/logout"><b>Log Out</b></a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>