<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
    <link rel="stylesheet" href="/style1.css">
</head>

<body>
    <form action="/listings" method="post">
        <h2>Create Your Listing here</h2>
        <div class="new-form">
            <input type="text" name="listing[title]" id="" placeholder="Title">
            <input type="url" name="listing[url]" id="" placeholder="Url for the image">
            <input type="text" name="listing[description]" id="" placeholder="description">
            <input type="number" name="listing[price]" id="" placeholder="Price">
            <input type="text" name="listing[location]" id="" placeholder="Location">
            <input type="text" name="listing[country]" id="" placeholder="country">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>