.list-card {
  border: 2px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  height: 450px;
  width: 300px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listing-img-card {
  height: 200px;
  width: 300px;
  background-size: cover;
  justify-self: flex-start;
}

.listing-img {
  height: 200px;
  width: 300px;
}
